## Explore and Cluster the neighborhoods of Toronto

In [45]:
import pandas as pd
import numpy as np

reading the data table from web link given

In [46]:
d=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [47]:
len(d)

3

In [48]:
type(d)

list

taking the data in a dataframe

In [49]:
df=d[0]
df.head(10)

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                          NaN
1         M2A      Not assigned                                          NaN
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                          NaN
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

drop the cells with a borough that is Not assigned.

In [50]:
df.replace("Not assigned", np.nan, inplace = True)

In [51]:
df.dropna(subset=["Borough"], axis=0, inplace=True)

df.reset_index(drop=True, inplace=True)

In [52]:
df.Neighborhood.fillna(df.Borough, inplace=True)

In [53]:
df.head(5)

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
Postal Code     103 non-null object
Borough         103 non-null object
Neighborhood    103 non-null object
dtypes: object(3)
memory usage: 2.5+ KB

In [55]:
df_1=df.groupby('Postal Code')['Borough','Neighborhood'].agg(','.join).reset_index()

In [56]:
df_1.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [57]:
df_1.shape

(103, 3)

In [65]:
postal_code=df_1[['Postal Code']]
postal_code.head()

  Postal Code
0         M1B
1         M1C
2         M1E
3         M1G
4         M1H

Get co ordinates for the postal code
<br>
Here we will read the location datas from the csv file given

In [70]:
df_2=pd.read_csv('http://cocl.us/Geospatial_data')

In [71]:
df_2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [75]:
df_final=pd.concat([df_1, df_2], axis=1, join='inner', sort=False)

In [77]:
df_final = df_final.loc[:,~df_final.columns.duplicated()]
df_final.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476